name: Release Charts

on:
  push:
    branches:
      - main

jobs:

  list_changed_charts:
    runs-on: ubuntu-latest
    name: List changed charts
    outputs:
      changed_charts: ${{ steps.changed_files.outputs.all_changed_files }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      
      - name: Get all test, doc and src files that have changed
        id: changed_files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          path: charts
          json: true
          escape_json: false
          dir_names: true
          dir_names_max_depth: 1

  helm_release:
    name: helm release ${{ matrix.chart_path }}
    runs-on: ubuntu-latest
    needs: list_changed_charts
    if: needs.list_changed_charts.outputs.changed_charts != '[]'
    strategy:
      fail-fast: true
      matrix:
        chart_path: ${{ fromJson(needs.list_changed_charts.outputs.changed_charts) }}
    env:
      CHART_NAME: "${{ matrix.chart_path }}"
    steps:
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          token: ${{ secrets.SZYMONRYCHU_TOKEN }}
      
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Helm Release
        run: |
          echo "${{ secrets.SZYMONRYCHU_TOKEN }}" | helm registry login -u szymonrychu --password-stdin ghcr.io

      - name: Helm Release
        run: |
          cd charts

          CHART_VERSION="$(helm show chart "./${CHART_NAME}" | grep version | awk '{print $2}')"

          helm package --dependency-update "./${CHART_NAME}"

          helm push "${CHART_NAME}-${CHART_VERSION}.tgz" oci://ghcr.io/szymonrychu/helm-charts